*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    letter-spacing: 1px;
   
}

.favicon{
    border-radius: 45px;
}

header{
    display: flex;
    font-size: 25px;
    color:#fff;
    align-items: center;
    justify-content: space-between;
    font-family:'tenor sans'cambria;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.732), #0000ffa1);
    justify-content: space-between;
    padding: 3px;

}

.main{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}


header > .menu{

    font-size: 20px;
    text-align: left;
    
    
}

.form{
    border-radius: 10px;   
    
}

header img{

    border-radius: 45px;
    
}
nav > a{
    display: inline-block;
    margin-left: 30px;
    color: white;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    transition: transform .3s;
    
}

nav > a:hover {

    transform: scale(1.4);
    border-radius: 20px;
    
    
        
}

.menu{
    display: flex;
    font-family:'Arial Narrow Bold', sans-serif;
    line-height: 80px;
    min-width: 300px;
    max-width: 100%;
    align-content: space-between;
    float:left;
    padding-left: 0px;
    font-size: 15px;

}


.card{
    background-color: #fff;
    width: 250px;
    height: 320px;
    text-align: center;
    padding-bottom: 10px;
   
    
}

.card img{
    width: 200px;
    height: 250px;
    border-radius: 10px;
   
}


.card h2{

    font-size: 20px;
    color: #060404aa;
    
}


.card button{

    background-color: #2192ff;
    height: 30px;
    border: none;
    padding: 4px;
    width: 50%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

 .sociais{
    width: 40px;
    height: 40px;
    border-radius: 35%;
    cursor: pointer;
    justify-content: right;
    
}
    
footer{

    width: 100%;
    color: #fff;
    padding: 0px;
    
}

.footer-link{

    text-decoration: none;
}

#footer_content{

    background-image: linear-gradient(to top, rgba(61, 57, 57, 0.732), #0000ffa1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 2.5rem;
    position: fixed;
    bottom: 0;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_contacts img{
    size: 20px;

}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    
    
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    border-radius: 45px;
 }
 
 #facebook{
     background-color:#26488b;
     border-radius: 45px;
 }
 
 #whatsapp{
     background-color: #25d366;
     border-radius: 45px;
 }
 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: #fff;
    transition: all 0.4s;
    

}

#footer_social_media .footer-link i{

    font-size: 2.0rem;
    
}

#footer_social_media .footer-link:hover{
    opacity: 0.5;

}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding-left: 5px;
}

.footer-list .footer-link{
    color: rgba(7, 7, 7, 0.436);
}

.footer-list .footer-link:hover{
    color: #7f37c9;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

#footer_subscribe p{
    color:#fff;
}

#input_group{
    display: flex;
    align-items: center;
    background-color: #c9b3b3cd;
    border-radius: 0px 10px 10px 0px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    border: none;
    color: #121010;
    padding: 0px 1.25rem;
    font-size: 1.0rem;
    height: 100%;
    border-radius: 4px 4px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover{
    opacity: 0.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding:1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content{
        grid-template-columns: 2, 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content{
        grid-template-columns: 1, 1fr;
        padding: 3rem;
    }
}