*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
   
}

.favicon{
    border-radius: 45px;
}

header{
    display: flex;
    font-size: 25px;
    color:#fff;
    align-items: center;
    justify-content: space-between;
    font-family:'tenor sans'cambria;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.732), #0000ffa1);
    justify-content: space-between;
    padding: 3px;

}

.main{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}


header > .menu{

    font-size: 20px;
    text-align: left;
    
    
}

.form{
    border-radius: 10px;   
    
}

header img{

    border-radius: 45px;
    
}
nav > a{
    display: inline-block;
    margin-left: 30px;
    color: white;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    transition: transform .3s;
    
}

nav > a:hover {

    transform: scale(1.4);
    border-radius: 20px;
    
    
        
}

.menu{
    display: flex;
    font-family:'Arial Narrow Bold', sans-serif;
    line-height: 80px;
    min-width: 300px;
    max-width: 100%;
    align-content: space-between;
    float:left;
    padding-left: 0px;
    font-size: 15px;

}


.card{
    background-color: #fff;
    width: 250px;
    height: 320px;
    text-align: center;
    padding-bottom: 10px;
   
    
}

.card img{
    width: 200px;
    height: 250px;
    border-radius: 10px;
   
}


.card h2{

    font-size: 20px;
    color: #060404aa;
    
}


.card button{

    background-color: #2192ff;
    height: 30px;
    border: none;
    padding: 4px;
    width: 50%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}
.sociais{
    width: center;
    
}

h1{
    align-items: center;
    justify-content: center;
    padding: 5px;
}


 .sociais{
    width: 40px;
    height: 40px;
    border-radius: 35%;
    cursor: pointer;
    align-content: end;
    
        
}
.sociais button i {
    font-size: 20px;
    color: white;
    padding-left: 0%;
    

}
    
footer{
    display: flex;    
    margin-top:  20px;
    color: white;
    background-image:linear-gradient(to right, rgb(106, 184, 223), #0000ff);;

}

footer > a{
    color:white;
    font-weight: bolder;
    
}

@media screen (max-width: 500px) {
    main img: 80px 80px
    }