*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
   
}

.favicon{
    border-radius: 45px;
}
body{
    flex: 1;
    width: 100%;  
    
}

header{
    display: flex;
    font-family:'tenor sans'cambria;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.732), #0000ffa1);
    justify-content: space-between;
    padding: 5px;

}


header > .menu{

    font-size: 20px;
    text-align: left;
    padding: 0px;
    
}

header > h1{

    padding: 5px;
    text-shadow: 2px 2px 0  black;
    color: #fff;
    font-family: playlist script;
    font-size: 50px;
    
    
}


header > .form{
    display: inline-block;
    text-align: justify;

    
}

.form{
    display: inline;
    padding-top: 25px;
    
    
    
}

header img{

    border-radius: 45px;
    
}
nav > a{
    display: inline;
    margin-left: 30px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    
}

nav > a:hover {

    margin: 0%;
    background-color: #ffffff45;
    color:#000;
    transition-duration: 1s;
    
        
}

.sociais{
    width: center;
    
    
}



.menu{
    display: inline-block;
    font-family:'Arial Narrow Bold', sans-serif;
    line-height: 80px;
    min-width: 300px;
    max-width: 100%;
    align-content: space-between;
    float:left;
    padding-left: 0px;
    font-size: 15px;

}

 .sociais{
    width: 40px;
    height: 40px;
    border-radius: 35%;
    cursor: pointer;
    align-content: end;
    
        
}
.sociais button i {
    font-size: 20px;
    color: white;
    padding-left: 0%;
    

}
    
footer{
    
    padding: 5px;
    color: white;
    background-image:linear-gradient(to right, rgb(106, 184, 223), #0000ff);;

}

footer > a{
    color:white;
    font-weight: bolder;
}

@media screen (max-width: 500px) {
    main img: 80px 80px
    }